// CUSTOM VARIABLES
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
}

// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600');

// IMPORT BOOTSTRAP
@import "bootstrap";

// LAYOUT

body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh //TODO: REMOVE LATER
}

.side-nav {
  flex: 0 0 30%;

  li {
    cursor: pointer;

    &.selected {
      background-color: var(--color-primary);
    }

    &:hover {
      background-color: var(--color-primary-light);
    }
  }
}

.movie-list {
  flex: 1;
}

// COMPONENTS

.user-image {
  height: 40px;
  width: 40px;
  border-radius: 999px;
  border: 1px solid white
}

.movie {
  &__poster {
    object-fit: contain;
  }
}

// UTILITIES

.cursor-pointer {
  cursor: pointer;
}

.todo-item-done {
  opacity: 0.6;

  &::after {
    content: '✓';
    color: $success;
    text-decoration: none;
    margin-left: .5rem;
  }
}